.main{
    display: flex;
    justify-content: space-between;
}

.accordion{
    width: 350px;
}

.container-fluid a span{
    color: blue;
}

/* .container-fluid .navbar-brand {
    transform: rotate(20deg);
    transition-duration: 0.5s; 
} */

.container-fluid a :hover{
    transform: rotate(-20deg);
    transition-duration: 0.5s;
}

#nav-button{
    color: blue;
    border: 0.5px solid blue;
}

#nav-button:hover{
    background-color: blue;
    color: white;
}

.carousel-item img{
    height: 400px;
}

.col-1{
    animation-name: cards-heading;
    animation-duration: 1s;
    animation: name duration timing-function delay iteration-count direction fill-mode;

}

.col-2{
    animation-name: main-col-2;
    animation-duration: 1s;
}

.col-3{
    animation-name: main-col-3;
    animation-duration: 1s;
}

.main-card-1{
    width: 20%;
    margin-top: 50px;
}



.cards-heading{
    animation-name: cards-heading;
    animation-duration: 0.7s;
}


/* cards */

.cards-2{
    display: flex;
    justify-content: space-between;
}





@keyframes cards-heading {
    0%{
        transform: translate(-300px,0px);
    }
}

@keyframes main-col-2 {
    0%{
        transform: translate(0px,600px);
    }
}

@keyframes main-col-3 {
    0%{
        transform: translate(300px,0px); 
    }
}